.gallery {
  display: grid;
  margin-top: 0;
  padding: 0;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 30px;
  max-width: calc(100vw - 48px);
  grid-template-columns: repeat(auto-fill, minmax(420px, 1fr));
  grid-gap: 16px;
  list-style: none;
}
